
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.dll
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.eml
*.json
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
[pP]ublish*/

# NuGet
packages/

Arma stuff/
*.backup
Packer/
*.ini
*.RDP
*.rdp
Dart/
*.lnk
phpmyadmin/
HoundAzure/
.history/
Remote Desktop/mremoteNG_connections.xml
Remote Desktop/mremoteNG_connections-Graitec.xml
Visual Studio Settings/VS2019Pro.vssettings
Remote Desktop/mremoteNG_connections.xml
CmdLine/debugloggingtest001.log
*.mp4
*.png
DuckieTV/DuckieTV-201912050130-chrome-newtab
DuckieTV/DuckieTV-202003180130-chrome-newtab
DuckieTV/DuckieTV-202009082200-chrome-newtab
DuckieTV/DuckieTV-202012152304-chrome-newtab
DuckieTV/DuckieTV-202101032304-chrome-newtab
DuckieTV/DuckieTV-202003180130-chrome-newtab.zip
DuckieTV/DuckieTV-201912050130-chrome-newtab.zip
*.torrent
*.zip
DuckieTV/BS ISO 8601-2-2019--[2021-03-10--06-16-58 PM].pdf
DuckieTV/BS ISO 8601-1-2019--[2021-03-10--06-17-11 PM].pdf
CmdLine/OF-Chat-History.py
DuckieTV/BS ISO 8601-1-2019--[2021-03-10--06-17-11 PM].pdf
DuckieTV/BS ISO 8601-2-2019--[2021-03-10--06-16-58 PM].pdf
".\Remote Desktop\mremoteNG_connections.xml" 
Remote Desktop/mremoteNG_connections.xml
GRA0387AF-Vault-2018_Configuration.cfg
GRA0387AF-Vault-2017_Configuration.cfg
*.pdf
DuckieTV/