
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.dll
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.eml
*.json
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
[pP]ublish*/

# NuGet
packages/

Arma stuff/
*.backup
Packer/
*.ini
*.RDP
*.rdp
Dart/
*.lnk
phpmyadmin/
HoundAzure/
.history/
Remote Desktop/mremoteNG_connections.xml
Remote Desktop/mremoteNG_connections-Graitec.xml
Visual Studio Settings/VS2019Pro.vssettings
Remote Desktop/mremoteNG_connections.xml
CmdLine/debugloggingtest001.log
